URxvt.cursorBlink:      true
URxvt.background:       #000000
URxvt.foreground:       AntiqueWhite
URxvt.scrollBar:        false
URxvt.insecure:         false
URxvt.font:             -gnu-unifont-medium-r-normal-sans-16-160-75-75-c-80-iso10646-1, xft:FreeMono:antialias=true

! Tango color theme
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
